@model TarefaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Tarefas</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CriarTarefa">
            <div id="formularioTarefa">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Titulo</label>
                            <input asp-for="@Model.Tarefa.Titulo" class="form-control" />
                            <span asp-validation-for="@Model.Tarefa.Titulo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Data de entrega</label>
                            <input asp-for="@Model.Tarefa.DtTarefaFim" class="form-control" />
                            <span asp-validation-for="@Model.Tarefa.DtTarefaFim" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Descrição da tarefa</label>
                        <input asp-for="@Model.Tarefa.Descricao" class="form-control" />
                        <span asp-validation-for="@Model.Tarefa.Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <button type="button" class="btn btn-primary" onclick="AjaxRegistrarTarefas()">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" onclick="AjaxFinalizarTarefaEmMassa()">Finalizar Tarefas Marcada</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Marcar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.DtTarefaFim)
            </th>
        </tr>
    </thead>
    <tbody id="table-tarefa">
        @foreach (var item in Model.Tarefas)
        {
            <tr>
                <td>
                    <input type="hidden" value="@item.Id">
                    <input type="checkbox" id="finalizar-@item.Id">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtTarefaFim)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="AjaxFinalizarTarefa(@item.Id)">Finalizar Tarefa</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="~/js/Tarefa/script.js"></script>

}
