@model TarefaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-12">
        <div id = "formularioTarefa">
            <div class="form-group">
                <input asp-for="@Model.Tarefa.UsuarioId" class="form-control" value="@Model.Tarefa.UsuarioId" hidden/>
                <label asp-for="@Model.Tarefa.Titulo" class="control-label"></label>
                <input asp-for="@Model.Tarefa.Titulo" class="form-control" />
                <span asp-validation-for="@Model.Tarefa.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tarefa.Descricao" class="control-label"></label>
                <input asp-for="@Model.Tarefa.Descricao" class="form-control" />
                <span asp-validation-for="@Model.Tarefa.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Tarefa.DtTarefaFim" class="control-label"></label>
                <input asp-for="@Model.Tarefa.DtTarefaFim" class="form-control" />
                <span asp-validation-for="@Model.Tarefa.DtTarefaFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="AjaxRegistrarTarefas()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.DtTarefaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.DtEncerramento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Finalizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tarefas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtTarefaFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtEncerramento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Tarefa/script.js"></script>

}
