@model TarefaViewModel

<div class="modal-confirmacao"></div>
<div class="row card-superior">
    <div class="col-md-6">
        <div class="modal-confirmacao"></div>
        <div class="card mb-6 card-finalizado card-selecionado">
            <div class="card-header">
                <h4 class="card-title">Tarefas Finalizadas</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Adiantado: @Model.TotalFinalizadoAntes</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Atrasado: @Model.TotalFinalizadoDepois</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Total: @Model.TotalFinalizadoTotal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-6 card-aberto">
            <a href="/Tarefa/ListarTarefasAbertas" class="nav-link text-white">
                <div class="card-header">
                    <h4 class="card-title">Tarefas Abertas</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Finalizar: @Model.TotalEmAbertoAntes</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>Atrasado: @Model.TotalEmAbertoDepois</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>Total: @Model.TotalEmAbertoTotal</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="card lista-tarefas" id="finalizadas">
    <div class="card-header">
        <h4 class="card-title">Tarefas Finalizadas</h4>
        @*<ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
        <a id="Nao-Finalizadas" class="nav-link" onclick="showTarefas('Nao-Finalizadas')" href="#">Em Aberto</a>
        </li>

        <li class="nav-item">
        <a id="Finalizadas" class="nav-link" onclick="showTarefas('Finalizadas')" aria-current="true" href="#">Finalizadas</a>
        </li>
        </ul>*@
    </div>
    <div class="card-body" id="tarefas-finalizadas">
        <div class="row border-bottom tabela-header">
            <div class="col-1">ID</div>
            <div class="col-2">TAREFA</div>
            <div class="col-3">DESCRIÇÃO</div>
            <div class="col-2">PREVISÃO</div>
            <div class="col-2">TÉRMINO</div>
            <div class="col-1"></div>
        </div>

        @foreach (var item in Model.TarefasFinalizadas)
        {
            <div class="row border-bottom tabela-body">
                <div class="col-1">
                    @item.Id
                </div>
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </div>
                <div class="col-3">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
                <div class="col-2">
                    @item.DtTarefaFim.ToString("dd/MM/yyyy")
                </div>
                <div class="col-2">
                    @item.DtEncerramento.ToString("dd/MM/yyyy")
                </div>
                <div class="col-1 justify-content-center">
                    <button type="button" class="btn btn-tela" onclick="modalConfirmacao(AjaxRestaurarTarefa, 'AjaxRestaurarTarefa', @item.Id)">
                        Restaurar
                    </button>
                </div>
            </div>
        }
        @*<div id="Tarefas-Nao-Finalizadas">
        <div class="card-body">
        <table class="table">
        <thead>
        <tr>
        <th>
        Id
        </th>
        <th>
        Tarefa
        </th>
        <th>
        Descrição
        </th>
        <th>
        Data prevista
        </th>
        <th>
        Data término
        </th>
        </tr>
        </thead>
        <tbody id="table-tarefa">
        @foreach (var item in Model.TarefasNaoFinalizadas)
        {
        <tr>
        <td>
        @item.Id
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
        @item.DtTarefaFim.ToString("dd/MM/yyyy")
        </td>
        <td>
        </td>
        </tr>
        }
        </tbody>
        </table>
        </div>
        </div>*@
    </div>
</div>
<link rel="stylesheet" href="~/css/listaTarefas.css" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/site.js"></script>
    <script src="~/js/Tarefa/script.js"></script>
}

