@model TarefaViewModel

<div class="row card-superior">
    <div class="col-md-6">
        <div class="modal-confirmacao"></div>
        <a href="/Tarefa/ListarTarefasFinalizadas" class="nav-link">
            <div class="card mb-6 card-finalizado">
                <div class="card-header">
                    <h4 class="card-title">Tarefas Finalizadas</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Em dia: @Model.TotalFinalizadoAntes</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>Atrasado: @Model.TotalFinalizadoDepois</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>Total: @Model.TotalFinalizadoTotal</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6">
        <div class="card mb-6 card-aberto card-selecionado">
            <div class="card-header">
                <h4 class="card-title">Tarefas Abertas</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Finalizar: @Model.TotalEmAbertoAntes</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Atrasado: @Model.TotalEmAbertoDepois</h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Total: @Model.TotalEmAbertoTotal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card lista-tarefas" id="abertas">
    <div class="card-header">
        <h4 class="card-title">Tarefas Abertas</h4>
    </div>
    <div class="card-body" id="tarefas-abertas">
        <div class="row border-bottom tabela-header">
            <div class="col-1">ID</div>
            <div class="col-3">TAREFA</div>
            <div class="col-4">DESCRIÇÃO</div>
            <div class="col-2">PREVISÃO</div>
            <div class="col-2"></div>
        </div>

        @foreach (var item in Model.TarefasNaoFinalizadas)
        {
            <div class="row border-bottom tabela-body">
                <div class="col-1">
                    @item.Id
                </div>
                <div class="col-3">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </div>
                <div class="col-4">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </div>
                <div class="col-2">
                    @item.DtTarefaFim.ToString("dd/MM/yyyy")
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-tela" onclick="modalConfirmacao(AjaxFinalizarTarefa,'AjaxFinalizarTarefa', @item.Id)">Finalizar</button>
                </div>
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="~/css/listaTarefas.css" />
<script src="~/js/Tarefa/script.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
